<mat-card>
    <mat-card-content>
        <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
            <h2>Sing Up</h2>
            <mat-form-field>
                <input matInput name="email" type="email" ngModel placeholder="Email" #emailInput="ngModel" required email>
                <mat-error *ngIf="emailInput.invalid">
                    Please provide a valid email address
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput name="password" type="password" ngModel  placeholder="Password" #passwordInput="ngModel" required>
                <mat-error *ngIf="passwordInput.invalid">
                    Please provide a valid password
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="accent" routerLink="/signup">Sign up</button>
        </form>
    </mat-card-content>
</mat-card>