mat-form-field,
textarea {
    width: 100%;
}

mat-card {
    margin-top: 10px;
    margin-bottom: 10px;
}

#fileSelector {
    visibility: hidden;
}

.imgae-preview {
    height: 5rem;
    margin: 1rem 0;
}

#image {
    width: 100px;
    height: 100px;
}
